include LICENSE
include README.md
include CHANGELOG.md
recursive-include mesh *.yaml *.example
recursive-include src/wgmesh/examples *.example
recursive-include src/wgmesh/templates *.j2
recursive-include completion *
recursive-include scripts *
recursive-include packaging *
